* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: var(--font-base);
    overflow: hidden; /* 앱처럼 화면 스크롤 고정 */
}